*{
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

nav{
  margin-left: 75px;
}

header{
  position: fixed;
  width: 100%;
  height: 46px;
  font-size: 13px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  z-index: 100;
  background-color: white;
}

a{
  text-decoration: none;
}

.content{
  position: absolute;
  width: 90%;
  top: 46px;
  margin: 12px 5%;
}

.col-lateral{
  margin: auto;
  width: 25%;
  float: left;
  margin-bottom: 10px;
}

.col-central{
  width: 45%;
  margin: 0 12px;
  border: 1px solid #CCD6DD;
  float: left;
}

.icon-bird{
  color: #1DA1F2;
  position: absolute;
  left: 50%;
  top: 8px;
}

.line {
  display: inline-block;
  margin-right: -4px;
}

.line>a {
  color: #66757f;
  text-decoration: none;
  display: block;
  padding: 0 16px 0 6px;
}

.line:hover>a, .active>a {
  border-bottom: 5px solid #0084b4;
  height: 46px;
}

.line>a>span{
  margin-top: 6px;
}

.right{
  float: right;
  margin-right: 10px;
}

.search{
  border: 2px solid #e6ecf0;
  border-radius: 24px;
  padding: 7px 10px;
  margin-right: 12px;
}

#search{
  border: 0;
  outline: none;
  padding: 2px;
}

.nav-right{
  position: absolute;
  top: 3px;
  right: 12px;
  display: inline-flex;
  margin-right: 90px;
}

.icon-user{
  color: #657786;
  background-color: #CCD6DD;
  border-radius: 50%;
  margin-right: 12px;
}

.bt-twitter{
  width: 100px;
  height: 35px;
  color: white;
  background-color: #339CC3;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  background-image: url("../img/tweet.png");
  background-size: 32px;
  background-repeat: no-repeat;
}

/** column tendencias **/
.tendencias{
  margin-top: 10px;
  border: 1px solid #CCD6DD;
  padding: 10px;
}

/** column profile */
.profile{
  border: 1px solid #CCD6DD;
  height: 200px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 50%, white 50%, white 100%), url("../img/girl.jpg");
  background-size: cover;
}

.profile-title{
  position: absolute;
  color:#657786;
  font-size: 10px;
  top: 35%;
}

.profile-text{
  position: absolute;
  color:#1DA1F2;
  font-size: 18px;
  top: 38%;
}

.grey{
  color:#657786;
}

.light-blue{
  color:#1DA1F2;
}

.dark-blue{
  color: #339CC3;
}

.absolute{
  position:absolute;
}

.name{
  position: absolute;
  top: 23%;
  left: 8%;
  font-size: 18px;
  white-space: pre-line;
}

.photo{
  position: absolute;
  width: 75px;
  height: 75px;
  background-image: url("../img/foto.jpg");
  background-size: cover;
  border: 3px solid white;
  border-radius: 8px;
  top: 15%;
  left: 7px;
}

/* section post*/
.posts{
  position: relative;
  padding: 14px 10px 10px 32px;
  background-color: #E8F5FD;
  height: 60px;
}

.input-post{
  position: relative;
  width: 90%;
  margin: 16px 0;
  top: -12px;
  padding: 4px;
}

.camera{
  position: absolute;
  right: 30px;
  top: 25px;
}

.post{
  padding: 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCD6DD;
}

.post-text{
  font-size: 14px;
  float: left;
  margin: 5px;
}

.post-icons{
  margin: 4px;
  clear:both;
}

/*section follow*/
.follows{
  padding: 10px 10px;
  padding-bottom: 10px;
}

.follow{
  width: 100%;
  overflow: auto;
  padding: 4px;
  padding-bottom: 10px;
}

.bt-user{
  border: 1px solid #CCD6DD;
  border-radius: 5px;
  padding: 5px;
  color: #1DA1F2;
  margin-top: 5px;
}

.font12{
  font-size: 12px;
}

.font14{
  font-size: 14px;
}

.link{
    margin: 10px 5px;
}

.link:hover{
  color: #1DA1F2;
  text-decoration: underline;
}

.border{
  border: 1px solid #CCD6DD;
}

.border-top{
  border-top: 1px solid #CCD6DD;
}
